<div class="header"><h1 class="slidetitle">easyPortal<br></h1></div>

<div class="main">

<div class="text">

<div>easyPortal ist die zentrale Website Deines easyVDR mit vielen wichtigen Informationen
und Einstellungs- möglichkeiten zu Deinem System.<br>


</div>

</div>

<img style="" alt="Synaptik" class="screenshot" src="screenshots/easyportal.jpg">

</div>


