<div class="header"><h1 class="slidetitle">Noch Fragen?</h1></div>

<div class="main">

<div class="text">

<div>
<p>Informationen findet man auf der <a href="http://www.easyvdr-forum.de">Projektseite</a> von
<i>easyVDR</i>. Hier sind ein Wiki, ein Forum und
Bereiche zur gemeinsamen Entwicklung eingerichtet. Auch das
<a href="http://www.vdr-portal.de/">VDR-Portal</a> und das
<a href="http://www.vdr-wiki.de/">VDR-Wiki</a> halten als Urvater der
VDR-Gemeinschaft viele Informationen bereit.

</p>
</div>

</div>

<img alt="." class="screenshot" src="screenshots/forum.jpg">

</div>
