<div class="header"><h1 class="slidetitle">KODI<br></h1></div>

<div class="main">

<div class="text">

<div>Das Multimediacenter für Deinen easyVDR. <br>Betrachte Deine Fotos, während Du gleichzeit Musik hörst. Checke das Wetter in Deiner Stadt oder die neuesten Trailer zu Deiner Lieblings-Serie.
<br><br>
KODI bietet Dir mit seinen vielen Schnittstellen eine Fülle an Möglichkeiten Deine Audio-, Bilder und Videos - auch geräteübergreifend - genießen zu können...<br>

</div>

</div>

<img style="width: 448px; height: 304px;" alt="Synaptik" class="screenshot" src="screenshots/kodi.jpg">

</div>
