<div class="header"><h1 class="slidetitle">PChanger<br></h1></div>

<div class="main">

<div class="text">

<div>Der PChanger ist eine wichtige Funktion in easyVDR.<br><br>Standardmäßig mit der [Windows]-Taste oder auf der Fernbedienung per [Mute]-Taste zu aktivieren.<br><br>
Der Wechsel zwischen VDR-Frontend und anderen Programmen wie KODI wird so zum Kinderspiel.<br><br>Auch an einen Maus-Ersatz per Fernbedienung wurde gedacht.<br><br>
-Pchanger Taste kurz drücken für das Menu.<br>
-Lange drücken für den Wechsel zwischen VDR und Kodi.<br>


</div>

</div>

<img style="" ;="" alt="Synaptik" class="screenshot" src="screenshots/pchanger.jpg">

</div>
