<div class="header"><h1 class="slidetitle">Das Setup<br></h1></div>

<div class="main">

<div class="text">

<div>Bekannte Multimedia-Hardware richtet das easyVDR Setup automatisch ein.<br><br>Anpassungen für Bild, Ton, Fernbedienung und mehr sind jederzeit durch erneutes Starten des Setups aus dem easyvdr-Toolmenü möglich.<br>


</div>

</div>

<img style="width: 448px; height: 304px;" alt="Synaptik" class="screenshot" src="screenshots/setup.jpg">

</div>
