<div class="header"><h1 class="slidetitle">Ubuntu als Basis<br></h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu als Basis erlaubt die Nutzung von tausenden Softwarepaketen. Updates und Erweiterungen sind einfach möglich.</p>
    <i><br>easyVDR</i> bietet dennoch eine automatisierte Einrichtung von vielen Multimedia-Komponenten.


</div>

</div>

<img style="" alt="Synaptik" class="screenshot" src="screenshots/synaptic.jpg">

</div>
