<div class="header"><h1 class="slidetitle">Video Disc Recorder<br></h1></div>

<div class="main">

<div class="text">

<div>Digitales Fernsehen per Satellit, Kabel, terrestrisch und auch 
Internet-TV, auch kombiniert.<br><br>Serientimer via
Webbrowser. Mit Timeshift Sendungen auf Knopfdruck
aufzeichnen und zeitversetzt weitersehen. Automatisches überspringen von Werbung, auch Pausieren, Schneiden von
Aufzeichnungen sowie Musik- und Radiosender.

<br><br>Nur die Hardware, also die Anzahl verfügbarer Empfänger,
setzt Grenzen bei der Anzahl möglicher paralleler Aufnahmen.<br>



</div>

</div>

<img style="" ;="" alt="Synaptik" class="screenshot" src="screenshots/vdr.jpg">

</div>
