<div class="header"><h1 class="slidetitle">Willkommen zu easyVDR V3</h1></div>

<div class="main wide">

<div class="text">

<div>

<font color="#000000">

<p><i>easyVDR</i> ist eine Distribution rund um den Video Disk Recorder. Sie verwandelt handelsübliche PC-Hardware in
einen digitalen Videorekorder und ermoeglicht so Empfang, Aufnahme
und Wiedergabe von digitalem Fernsehen sowie viele Zusatzfunktionen
zur Medienwiedergabe.</p><p><br>

</p>
Der Hauptanspruch von <i>easyVDR</i> ist es, "easy" zu sein, das heisst zum
einen den Erwartungen von Linux-Einsteigern gerecht zu werden, aber
auch Standards zu nutzen, damit sich Experten nicht umstellen
muessen.
</div>
</font>
</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>

